<template>
    <div>
        <div v-if="isAddTransaction === false">
            <button class="btn btn-primary" type="button" @click="addNewTransaction">Add New Transaction</button>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Transaction ID</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Barang Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(transaction,index) in transactionView" :key="index">
                        <td>{{transaction.transactionId}}</td>
                        <td>{{transaction.customerName}}</td>
                        <td>{{transaction.barangName}}</td>
                        <td>
                            <a :href="'/transactions/updateTransaction?transactionId='+transaction.transactionId" class="btn btn-warning">
                                <fa-icon icon="edit"></fa-icon>
                                Edit
                            </a>

                            <button class="btn btn-danger" @click="deleteTransaction(transaction)">
                            <fa-icon icon="trash-alt"></fa-icon>
                            Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div v-if="isAddTransaction === true">
            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="insertTransaction">
                    <label class="col-form-label">Customer ID</label>
                    <validation-provider name="Customer ID" rules="required" v-slot="{errors}">
                        <input class="form-control" type="number" v-model="newTransaction.customerId" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Barang ID</label>
                    <validation-provider name="Barang ID" rules="required" v-slot="{errors}">
                        <input class="form-control" type="number" v-model="newTransaction.barangId" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Transaction Type</label>
                    <validation-provider name="Transaction Type" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newTransaction.transactionType" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Transaction Date</label>
                    <validation-provider name="Transaction Date" rules="required" v-slot="{errors}">
                        <input class="form-control" type="datetime" v-model="newTransaction.transactionDate" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Total Transaction</label>
                    <validation-provider name="Total Transaction" rules="required" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newTransaction.totalTransaction" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />
                    <button class="btn btn-primary" type="submit">
                        <fa-icon icon="check"></fa-icon>
                        Submit
                    </button>
                </form>
            </validation-observer>
        </div>
    </div>  
</template>

<script lang="ts">
import Vue from 'vue';
    import Component from 'vue-class-component';
    import { TransactionService, TransactionModel, TransactionViewModel } from '../services/NswagService';
    import swal from 'sweetalert2';
    import { ValidationObserver } from 'vee-validate';
    
    @Component({
        created: async function (this: ListTransaction) {
            await this.getTransactions();
        }
})
export default class ListTransaction extends Vue {
    service: TransactionService = new TransactionService();

        transactionView: TransactionViewModel[] = [];

        newTransaction: TransactionModel = {
            customerId: 0,
            barangId: 0,
            transactionType: '',
            transactionDate: '',
            totalTransaction: 0
        }

        isAddTransaction = false;

        addNewTransaction(): void {
            this.isAddTransaction= true;
            return;
        }

        async getTransactions(): Promise<void> {
            this.transactionView = await this.service.getAllTransaction();
        }

        async insertTransaction(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();

            if (valid == false) {
                return;
            }

            await this.service.insertTransaction(this.newTransaction);

            swal.fire({
                title: 'Yeayy!',
                icon: 'success',
                text: 'Success insert new data employee.'
            });

            await this.getTransactions();
            this.isAddTransaction = false;
        }

        async deleteTransaction(transactionId): Promise<void> {
            swal.fire({
                title: 'Are you sure?',
                text: "Delete this laptop data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.service.deleteTransaction(transactionId);
                    await this.service.getAllTransaction();
                    swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    ).then(async (result) => { window.location.href = '/transactions/index' })

                }
            })
        }
}
</script>
