<template>
    <div>      
        <validation-observer ref="observer" v-slot="{validate,valid}">
            <form method="post" @submit.prevent="updateTransaction">
                <label class="col-form-label">Customer ID</label>
                <validation-provider name="Customer ID" rules="required" v-slot="{errors}">
                    <input class="form-control" type="number" v-model="newTransaction.customerId" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Barang ID</label>
                <validation-provider name="Barang ID" rules="required" v-slot="{errors}">
                    <input class="form-control" type="number" v-model="newTransaction.barangId" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Transaction Type</label>
                <validation-provider name="Transaction Type" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newTransaction.transactionType" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Transaction Date</label>
                <validation-provider name="Transaction Date" rules="required" v-slot="{errors}">
                    <input class="form-control" type="datetime" v-model="newTransaction.transactionDate" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />

                <label class="col-form-label">Total Transaction</label>
                <validation-provider name="Total Transaction" rules="required" v-slot="{errors}">
                    <input class="form-control" type="text" v-model="newTransaction.totalTransaction" />
                    <span class="text-danger font-italic">{{errors[0]}}</span>
                </validation-provider>
                <br />
                <button class="btn btn-primary" type="submit">
                    <fa-icon icon="check"></fa-icon>
                    Submit
                </button>
            </form>
        </validation-observer>
    </div>  
</template>

<script lang="ts">
import Vue from 'vue';
    import Component from 'vue-class-component';
    import { TransactionService, TransactionModel, TransactionViewModel } from '../services/NswagService';
    import swal from 'sweetalert2';
    import { ValidationObserver } from 'vee-validate';
    
    @Component({
        created: async function (this: UpdateTransaction) {
            await this.getSpecificTransaction();
        }
})
export default class UpdateTransaction extends Vue {
    service: TransactionService = new TransactionService();

        transactionView: TransactionViewModel[] = [];

        newTransaction: TransactionModel = {
            customerId: 0,
            barangId: 0,
            transactionType: '',
            transactionDate: '',
            totalTransaction: 0
        }

        async getSpecificTransaction(): Promise<void> {
            const urlParams = new URLSearchParams(window.location.search);
            const transactionId = urlParams.get('transactionId')?.valueOf();
            if (transactionId != null) {
                this.newTransaction = await this.service.getSpecificTransaction(parseInt(transactionId));
            }
        }

        async updateTransaction(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }
            swal.fire({
                title: 'Are you sure?',
                text: "Update this laptop data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.service.updateTransaction(this.newTransaction);
                    swal.fire(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                    ).then(async (result) => { window.location.href = '/transactions/index' })
                }
            })
        }
}
</script>
